.profile__info {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

@media screen and (max-width: 900px) {
  .profile__info {
    max-width: 581px;
  }
}

@media screen and (max-width: 610px) {
  .profile__info {
    max-width: 320px;
    padding-left: 0;
  }
}
