.popup__error {
  display: block;
  font-size: 12px;
  line-height: 1.25;
  color: #f00;
  margin-top: -29px;
  border-top: 1px solid red;
  max-width: 358px;
  padding-top: 8px;
  min-height: 30px;
}

@media screen and (max-width: 610px) {
  .popup__error {
    max-width: 200px;
    margin-left: 60px;
  }
}
