.header__email {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  border-style: none;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 610px) {
  .header__email {
    font-size: 14px;
    line-height: 16px;
  }
}
