.footer__author {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
}

@media screen and (max-width: 610px) {
  .footer__author {
    max-width: 282px;
    font-size: 14px;
    line-height: 16px;
  }
}

