.element__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 21px;
  padding-right: 40px;
  margin: 0;
  align-self: center;
}
